<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="me.gchriswill.pinner">

<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.SEND_SMS" />
<uses-permission android:name="android.permission.CALL_PHONE" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<application android:allowBackup="true" android:icon="@drawable/appicon_1024x1024" android:label="@string/app_name"
    android:supportsRtl="true" android:theme="@style/AppTheme" android:name="android.support.multidex.MultiDexApplication">

    <activity android:name=".home.HomeActivity" android:label="@string/app_name" android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>

    <activity android:name=".Chooser" android:label="@string/title_activity_chooser" android:theme="@style/AppTheme"
        android:screenOrientation="portrait" />

    <activity android:name=".editor.AccountEditorActivity" android:label="Account Manager"
        android:screenOrientation="portrait" android:theme="@style/AppTheme" />

    <activity android:name=".profile.ProfileActivity" android:label="Profile"
        android:screenOrientation="portrait" android:theme="@style/AppTheme" />

    <activity android:name="com.facebook.CustomTabActivity" android:exported="true"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/fb_login_protocol_scheme" />
        </intent-filter>
    </activity>

    <activity
        android:name="me.gchriswill.pinner.MapsActivity" android:theme="@style/AppTheme" android:label="@string/title_activity_maps"/>

    <activity
        android:name=".widget.ConfigureAcitivity"
        android:label="Configure"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
        </intent-filter>
    </activity>

    <receiver
        android:name=".widget.CustomWidgetProvider"
        android:exported="true">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/widget_provider_info" />
    </receiver>

    <meta-data android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />
    <meta-data android:name="io.fabric.ApiKey" android:value="ad824682c63946db86e74e3b5dae12ed9128dff8" />
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCfpnW7aptLVXD6AEriJ6UEav3hywD2tJo" />

</application>

</manifest>
